on boot
    chmod 0664 /sys/devices/virtual/input/lge_touch/reset_ctrl
    chown system system /sys/devices/virtual/input/lge_touch/reset_ctrl

service vendor.fingerprint-lge /vendor/bin/hw/android.hardware.biometrics.fingerprint-service.lge
    class late_start
    user system
    group system input uhid
    interface aidl android.hardware.biometrics.fingerprint.IFingerprint/default
